body {
  margin: 0 auto;
  padding: 0;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  color: rgb(51,51,51);
}

* {
  box-sizing: border-box;
}

/*
* site-container
* make the max-width 960px and center
*/
.site-container {
  max-width: 960px;
  margin: 0 auto;
}

/*
* 12-col and 12-row flexbox framework
*/

.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
}
.col-2 {
	width: 16.6666666%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33333333%;
}
.col-6 {
	width: 50%;
}
.col-8 {
	width: 66.666666%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33333%;
}
.col-12 {
	width: 100%;
}
/* if there's more than one column in the grid, add padding in between*/
[class*="col-"] {
  padding-right: 1em;
  height: 100%;
}
[class*="col-"]:last-of-type {
  padding-right: 0;
}

/**
* Header
*/
header {
  border-bottom: 4px solid #bcbbbb;
}

header .name {
  text-transform: uppercase;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1em;
}

header .name .title {
  font-weight: 300;
  font-size: 3em;
}
header .name .subtitle {
  font-weight: 500;
  font-size: 1.5em;
}

header .logo {
  padding-left: 0.2em;
  color: #f8981c;
  font-weight: 700;
  font-size: 5em;
  line-height: 50%;
}


/*
* hero image
*/
.hero-image {
  width: 100%;
  padding: 2em 0;
}

.hero-image img {
  max-width: 100%;
}


/*
* featured work
*/
.featured-projects {
  width: 100%;
  margin: 0 auto;
}

.featured-title {
  color: #bcbbbb;
  font-size: 2em;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:center;
  padding: 1em 0;
}

.project-desc {
  width: 100%;
  text-align: center;
}

.project-desc h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.project-desc p {
  margin: 0;
  padding: 0;
  font-style: italic;
}
.project-img {
  padding: 0.5em;
  width:100%;
}


/**
* Responsive elements
*/

@media screen and (max-width:600px){
  /* Header */
  header {
    /*make header text smaller for small screens*/
    font-size: 0.6em;
  }

  /* un-grid everything at < 600px */ 
  [class*="col-"] {
    width: 100%;
  }

  /* featured projects */
  .featured-title {
    text-align: center;
  }

}
